.profile-container {
  width: 100%;
  max-height: 768px;
  height: 100vh;
  background: var(--background-color);
  box-shadow: var(--boxShadow);
  position: sticky;
  display: block;
  z-index: 1;
  @media screen and (max-width: 768px) {
    position: relative;
    box-shadow: var(--boxShadowInset);
  }
  top: 0;
  .top {
    height: 75px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--theme-color);
  }
  .avatar {
    display: block;
    width: 225px;
    height: 225px;
    margin: auto;
    margin-top: 2rem;
    position: relative;
    border-radius: 50%;
    box-shadow: var(--boxShadow);
    &:hover {
      box-shadow: var(--boxShadowInset);
      .avatar__img {
        transform: scale(0.95);
      }
    }
    &__img {
      border-radius: 50%;
      height: 100%;
      margin: 0;
      padding: 0.8rem;
      object-fit: cover;
      transition: all 300ms ease-in-out;
    }
    img[alt]:after {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--background-color);
      content: attr(alt);
      box-shadow: var(--boxShadowInset);
    }
  }
  .welcome {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    span {
      &:nth-child(1) {
        margin-right: 0.5rem;
      }
    }
    &__name {
      margin: 0;
      font-size: 2.2rem;
      line-height: 2.8rem;
    }
    &__label {
      margin: 0;
      font-size: 1.6rem;
      &--from {
        text-transform: uppercase;
        background: linear-gradient(
          to bottom,
          #f93 25%,
          #fff 50%,
          #138808 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 1.8rem;
      }
    }
    &__description {
      width: 100%;
      font-size: 1.8rem;
      line-height: 2.6rem;
      font-weight: 200;
      margin: 0;
      padding: 2rem 3rem;
      text-align: justify;
    }
    .current-working {
      padding-top: 10px;
      h3 {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
      }
      p.company {
        font-size: 1.5rem;
        margin-bottom: 0;
      }
      p.name {
        font-size: 1.4rem;
      }
    }
  }
}
