:root {
  --body-color: #5cdb95;
  --background-color: #8ee4af;
  --white: #ffffff;
  --theme-color: #05386b;
  --boxShadow: 8px 8px 15px rgba(0, 0, 0, 0.2),
    -6px -6px 10px rgba(255, 255, 255, 0.4);
  --boxShadowInset: 8px 8px 15px rgba(0, 0, 0, 0.2) inset,
    -6px -6px 10px rgba(255, 255, 255, 0.4) inset;
}
