#contact-section,
#profile {
  .icons {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    .icon {
      position: relative;
      list-style: none;
      height: 45px;
      width: 45px;
      margin: 0;
      border-radius: 50%;
      cursor: pointer;
      transition: ease-in-out 300ms;
      box-shadow: var(--boxShadow);
      margin-right: 1.5rem;
      margin-bottom: 1.5rem;
      &:last-child {
        margin-right: 0;
      }
      &__link {
        line-height: 4, 5rem;
        font-size: 2.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #b6bbc5;
        svg {
          position: relative;
          left: 1px;
        }
      }
      &:hover {
        background-color: var(--hoverColor);
        a {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 35px;
          width: 35px;
          line-height: 3.5rem;
          border-radius: 50%;
          font-size: 2rem;
          background-color: var(--background-color);
          color: var(--hoverColor);
          box-shadow: var(--boxShadowInset);
        }
      }
    }
  }
}
#profile .icons {
  padding-top: 1.5rem;
  flex-wrap: inherit;
  .icon {
    margin-bottom: 0;
  }
}
