.tabs-infoblocks {
  padding: 3.2rem 3.2rem 1.6rem;
  overflow-y: hidden;
  width: 100%;
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .tabs-infoblock {
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    width: 100%;
    box-sizing: border-box;
    box-shadow: var(--boxShadowInset);
    &__inner {
      padding-right: 4.8rem;
      padding-left: 4.8rem;
      @media screen and (max-width: 768px) {
        padding-left: 4rem;
        padding-right: 4rem;
      }
      .title {
        font-weight: 700;
        text-transform: uppercase;
        line-height: 5rem;
        font-size: 1.8rem;
      }
      .main-title {
        letter-spacing: 0.2rem;
        text-align: center;
        margin-bottom: 8rem;
        &__label {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          font-size: 3.4rem;
          @media screen and (max-width: 560px) {
            font-size: 3.2rem;
          }
          &::before,
          &::after {
            content: "";
            display: block;
            width: 120px;
            height: 1px;
            background-image: linear-gradient(
              to right,
              #f0f0f0,
              #00b9ff,
              #59d941,
              #f0f0f0
            );
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            @media screen and (max-width: 1080px) and (min-width: 768px) {
              width: 80px;
            }
            @media screen and (max-width: 560px) {
              width: 80px;
            }
            @media screen and (max-width: 420px) {
              width: 60px;
            }
          }
          &::before {
            left: -152px;
            @media screen and (max-width: 1080px) and (min-width: 768px) {
              left: -90px;
            }
            @media screen and (max-width: 560px) {
              left: -90px;
            }
            @media screen and (max-width: 420px) {
              left: -65px;
            }
          }
          &::after {
            right: -152px;
            @media screen and (max-width: 1080px) and (min-width: 768px) {
              right: -90px;
            }
            @media screen and (max-width: 560px) {
              right: -90px;
            }
            @media screen and (max-width: 420px) {
              right: -65px;
            }
          }
        }
      }
      .content__section {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        padding-bottom: 8rem;
        margin-bottom: 8rem;
        border-bottom: 0.1rem dashed var(--theme-color);
        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none;
        }
        .title__middle {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          svg {
            height: 28px;
            width: 28px;
            margin-right: 0.3rem;
          }
          &--label {
            font-size: 2.4rem;
          }
        }
        .blockquote {
          position: relative;
          padding: 0 4rem;
          box-sizing: border-box;
          border-left: 0.5rem solid var(--theme-color);
          font-size: 1.7rem;
          font-weight: 500;
          margin-left: 0;
          margin-right: 0;
          @media screen and (max-width: 768px) {
            padding-right: 0;
          }
        }
      }
    }
    .flag-badge {
      display: block;
      background-color: var(--theme-color);
      width: 55px;
      height: 75px;
      position: absolute;
      top: 0;
      right: 50px;
      @media screen and (max-width: 768px) {
        left: 50%;
        transform: translateX(-50%);
      }
      &::after {
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 2.8rem solid var(--background-color);
        border-left: 2.8rem solid transparent;
        border-right: 2.8rem solid transparent;
      }
    }
  }
}
